* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/*.wrapper{*/
/*    height: 98vh;*/
/*    width: 98vw;*/
/*}*/
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    border: 2px solid #FDDA01;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "box1 box1 box1 box1"
        "box1 box1 box1 box1"
        "box2 box3 box4 box4"
        "box2 box5 box5 box6"
        "box2 box7 box8 box9"
        "box2 box10 box10 box10";

    grid-gap: 10px;
}
.box {
    background-color: #FDDA01;
    color: white;
    font-size: 50px;
}
#box1 {
    grid-area: box1;
}
#box2 {
    grid-area: box2;
}
#box3 {
    grid-area: box3;
}
#box4 {
    grid-area: box4;
}
#box5 {
    grid-area: box5;
}
#box6 {
    grid-area: box6;
}
#box7 {
    grid-area: box7;
}
#box8 {
    grid-area: box8;
}
#box9 {
    grid-area: box9;
}
#box10 {
    grid-area: box10;
}