* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
main {
    /* add margin to make the top of our grid more visible */
    margin-top: 2em;
    background: lightgreen;
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
main div {
    font-size: 2em;
    color: white;
    background: grey;
    border: 1px solid black; /* thin out border to 1px */
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-item{
    background: lightgreen;
    opacity: .7;
}
/*
    These classes are just a way to explicitly place the grey tiles
    so that other items may be overlaid.
*/
.one {grid-area: 1 / 1 / 2 / 2}
.two {grid-area: 1 / 2 / 2 / 3}
.three {grid-area: 1 / 3 / 2 / 4}
.four {grid-area: 2 / 1 / 3 / 2}
.five {grid-area: 2 / 2 / 3 / 3}
.six {grid-area: 2 / 3 / 3 / 4}
.seven {grid-area: 3 / 1 / 4 / 2}
.eight {grid-area: 3 / 2 / 4 / 3}
.nine {grid-area: 3 / 3 / 4 / 4}