

#jumbo-container {
    background-image: url("../img/pizza_jumbotron.png");
}
h1 {
    background-color: lightgrey;
    opacity: 65%;
}
/*this moves it also moves philly*/
#beef-weird-border {
    padding-bottom:  !important;
}
/*#is-this-weird-beef {*/
/*    margin-bottom: 0 !important;*/
/*    padding-bottom: 0 !important;*/
/*}*/