

#jumbo-container {
    background-image: url("../img/pizza_jumbotron.png");
    background-size: cover;
    background-position: center;
    /*height: 50vh;*/
    color: white;
}
h1 {
    background-color: lightgrey;
    opacity: 65%;
    color: black;
}