* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Helvetica;
    font-weight: bold;
}

.note-item{
    font-weight: normal;
}

.flex-container {
    width: 100%;
    height: 10em;
    border: 3px solid goldenrod;
    display: flex;

}
.flex-item {
    background: #BFD45D;
    border: 2px solid #F9EFD6;
    padding: 1em;
}
.first-item{
    /*align-self: flex-start;*/
    flex-grow: 2;
}

.second-item{
    /*align-self: center;*/
    flex-grow: 1;
}
.third-item{
    /*align-self: flex-end;*/
    flex-grow: 1;
}