* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr repeat(7, 10fr) 7fr 4fr 8fr;
    grid-template-areas:
        "top-nav top-nav top-nav top-nav top-nav top-nav"
        "side-nav text1 text1 text1 ad-group1 ad-group1"
        "side-nav text1 text1 text1 ad-group1 ad-group1"
        "side-nav text2 text2 text2 ad-group2 ad-group2"
        "side-nav text2 text2 text2 ad-group2 ad-group2"
        "side-nav text3 text3 text3 ad-group3 ad-group3"
        "side-nav text3 text3 text3 ad-group3 ad-group3"
        "side-nav bottom-nav bottom-nav bottom-nav bottom-nav bottom-nav"
        "side-nav footer footer footer footer footer"
        "side-nav powered powered powered powered powered"
        "bottom bottom bottom bottom bottom bottom"

}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#top-nav {
    grid-area: top-nav;
}
.side-nav{
    grid-area: side-nav;
    font-size: larger;
}
.side-nav-anchor{
    color: black;
}
#text1{
    grid-area: text1;
    margin-top: 3em;
    margin-left: 1em;
}
h2 {
    color: #419388;
    font-size: 270%;
}
#text2{
    grid-area: text2;
    margin-top: 4em;
    margin-left: 1em;
}
#text3{
    grid-area: text3;
    margin-top: 4em;
    margin-left: 1em;
}
#ad-group1{
    grid-area: ad-group1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ad1-container {
    width: 80%;
    height: 60%;
    border: 1px solid lightgrey;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 1em;
}

.ad2-container {
    width: 80%;
    height: 100%;
    border: 1px solid lightgrey;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
#ad-group1 a {
    color: black;
}

#ad-group2 {
    grid-area: ad-group2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ad-group2 a {
    color: black;
}
#ad-group3 {
    grid-area: ad-group3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ad-group3 a {
    color: black;
}
#bottom-nav {
     grid-area: bottom-nav;
     display: flex;
    justify-content: center;
}
#page-nav {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    margin-bottom: 1em;
}
#page-nav li {
    margin: 1em;
    padding: 1em 1.25em;
}
#page-nav li:nth-child(1) {
    background-color: black;
    color: white;
}
#page-nav li:nth-child(1) a {
    color: white;
}

#page-nav a {
    color: black;
}
#footer {
    grid-area: footer;
    display:flex;
    align-items: center;
    background-color: #808080;
    color: white;
    padding-left: .75em;
    font-size: x-large;
}

#powered {
    grid-area: powered;
    display:flex;
    align-items: center;
    background-color: #363636;
    color: white;
    padding-left: 1em;
    font-size: larger;
}
#powered a {
    color: white;
    padding-left: .25em;
    font-size: larger;
}

#horizontal-nav {
    display: flex;
    background-color: #000;
}
#horizontal-nav li:nth-child(1) {
    background-color: #808080;
    color: white;
    padding-right: 1em;
}
/*#horizontal-nav li:nth-child(1) a {*/
/*    color: white;*/
/*}*/

#horizontal-nav > * {
    margin-top: 8em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: .40em;
    padding-bottom: 1em;
    padding-top: .60em;
    background-color: #000;
    font-size: large;
}
#horizontal-nav a {
    color: white;
}
.side-nav{
    background-color: #F0F0F0;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
}
#vertical-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#vertical-nav > * {
    margin-top: 0;
    margin-bottom: 1em;

}
#vertical-nav a {
    color: black;
}
#bottom-border {
    grid-area: bottom;
    background-color: black;
}
#page-nav:nth-child(6) {
    /*need smaller arrow.*/
}




/*6column of 146*/
/*11 row of 83*/